<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Singer</title>
    <link href="{{url_for('static', filename='add_singer.css')}}" rel="stylesheet">
</head>
<body>
    <form method="post">
        <h1>Add Singer</h1>
        <label>Name</label>
        <input type="text" name="name" required>
        <br>
        <label>Photo</label>
        <input type="text" name="photo" required>
        <br>
        <label>Genre</label>
        <input type="text" name="genre" required>
        <br>
        <label>Birth Date</label>
        <input type="date" name="birth_date" required>
        <br>
        <label>Facebook URL</label>
        <input type="text" name="facebook_url" required>
        <br>
        <label>Instagram URL</label>
        <input type="text" name="instagram_url" required>
        <br>
        <label>Tiktok URL</label>
        <input type="text" name="tiktok_url" required>
        <br>
        <label>Active Since </label>
        <input type="text" name="active_since" required>
        <br>
        <!-- Album 1 Details -->
        <div class="album-details">
            <label>Album 1 Name</label>
            <input type="text" name="album1_name" required>
            <label>Album 1 Photo</label>
            <input type="text" name="album1_photo" required>
        </div>

        <!-- Album 2 Details -->
        <div class="album-details">
            <label>Album 2 Name</label>
            <input type="text" name="album2_name" required>
            <label>Album 2 Photo</label>
            <input type="text" name="album2_photo" required>
        </div>

        <!-- Album 3 Details -->
        <div class="album-details">
            <label>Album 3 Name</label>
            <input type="text" name="album3_name" required>
            <label>Album 3 Photo</label>
            <input type="text" name="album3_photo" required>
        </div>

        <!-- Album 4 Details -->
        <div class="album-details">
            <label>Album 4 Name</label>
            <input type="text" name="album4_name" required>
            <label>Album 4 Photo</label>
            <input type="text" name="album4_photo" required>
        </div>

        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
